div {
    font-family: "Calibri", sans-serif;
}

h3 {
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    color:rgb(0, 0, 0);
    text-align:left;
    font-size:30px;
    margin-bottom:5px;
    padding-bottom:0px;
}

button {
    font-family: "Calibri", sans-serif;
    font-weight: 300;
    height: 50px;
    width: 50px;

}


